.display-hello-user {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  margin-top: 2%;

  .current-name {
    border-bottom: 3px solid red;
  }
}
